[Unit]
Description=Harpoon

[Service]
WorkingDirectory=%h
ExecStart=/usr/local/bin/harpoon start
Restart=always

[Install]
WantedBy=multi-user.target
